# 猫鱼周刊

欢迎关注我的猫鱼周刊，主要内容为文章、开源项目、好用工具、想法的分享，技术方面倾向 Go 和 LLM，每周日更新。全部内容均为人工创作。

如果你有有趣的内容想要分享，可以通过这个链接[投稿](https://github.com/LeslieLeung/cat-fish-weekly/issues/new?assignees=LeslieLeung&labels=&projects=&template=recommendations.md)。

> 📝博客：[阿猫的博客-猫鱼周刊](https://ameow.xyz/categories/weekly)
>
> 📡RSS：[猫鱼周刊](https://ameow.xyz/feed/categories/weekly.xml)
>
> 📮邮件订阅：[猫鱼周刊](https://quail.ink/ameow)
>
> 📺微信公众号：[猫兄的和谐号列车](http://img.ameow.xyz/202401141448662.png)
>
> ✉️私信：[leslieleung@pm.me](mailto:leslieleung@pm.me)

## 过往期刊

{% for issue in issues -%}
- [{{ issue.title }}]({{ issue.url }}) - {{ issue.date }}
{% endfor %}

## License
本作品采用[知识共享署名 4.0 国际许可协议](http://creativecommons.org/licenses/by/4.0/)进行许可。

<a href="https://notbyai.fyi"><img src="https://img.ameow.xyz/202311192112248.svg" alt="Written by Human, Not by AI"></a>